html {
  box-sizing: border-box;
  font-family: 'Inconsolata', 'Roboto', monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: #f6f6f6;
  background: linear-gradient(45deg, rgba(255,216,216,0.62) 0%, rgba(205,171,255,0.38) 40%, rgba(255,255,255,1) 95%);
  line-height: 1.5;
}

#main {
  max-width: 1200px;
  margin: auto;
  padding: 50px 30px 60px 30px;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: 'Inconsolata', 'Roboto', monospace;
}

.title {
  font-size: 1.25em;
  font-family: 'Press Start 2P', 'Inconsolata', 'Roboto', monospace;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__item {
  margin: 1rem;
  padding: 1rem;
  background: #f6f6f6;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all .2s linear;
  width: 40%;
  display: grid;
  grid-template-rows: minmax(60px, max-content) 1fr 2fr;
}

.projects__title {
  text-align: center;
  font-family: 'Press Start 2P', 'Inconsolata', 'Roboto', monospace;
  font-size: 1em;
  font-weight: 400;
  align-self: center;
}

a.projects__link {
  padding: 1em;
  margin: -1em;
  text-decoration: none;
  position: relative;
  color: #06c3c6;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

a:hover {
  color: #f5098c;
}

.projects__item:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

.projects__tech {
  border-top: thin solid #d3d3d3;
  border-bottom: thin solid #d3d3d3;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  align-self: center;
  margin: 0;
}

.projects__sample-title {
  display: block;
  text-align: center;
}

.list--item {
  margin-bottom: 1em;
  line-height: 1.5;
  list-style-type: "\25e6";
}

.error__container {
  text-align: center;
}

.intro {
  margin: 1.5em 0.25em;
}

.list {
  word-break: break-word;>
}

.letter {
  background-color: #fff;
  margin: 2em 0;
  padding: 3em 1.5em;
}

p.letter {
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  #main {
    padding: 15px;
  }

  h1 {
    font-size: 0.95em;
  }

  .projects__title {
    font-size: 0.75em;
    line-height: 1.75em;
    margin-top: 0.75em;
  }

  .projects__description {
    margin: 0.5em;
  }
}

@media screen and (max-width: 800px) {
  .projects__item {
    width: 100%;
  }
}
