<!-- portfolio.njk -->
{% extends "layout.njk" %}
{% block content %}
    <div id="main">
      <h1>writing samples</h1>
      <div class="projects__item">
        <ul class="list">
          <li class="list--item">
            <a class="list-link" href="files/report-summary.pdf" target="_blank">Report summary
            (pdf)</a>:
            This summary was written as a supplement to a presentation given to stakeholders in
            regards to issues that had not been resoved.
          </li>
          <li class="list--item">
            <a class="list-link" href="files/feature-documentation.pdf" target="_blank">Feature
            documentation (pdf)</a>: This was written as a guide for a client on how to add a newly
            developed feature to a product. The content has been edited to remove specific details
            and visuals.
          </li>
          <li class="list--item">
            <a class="list-link" href="files/technical-notes.pdf" target="_blank">Technical notes
            (pdf)</a>: This file contains notes addressed to colleagues regarding a project's new
            feature. They contain details on implementation and a retrospective. The content has
            been edited to remove specific details.
          </li>
          <li class="list--item">
            <a class="list-link" href="https://www.heyheatheritsmeagain.com/blog/pick-a-pickup"
            target="_blank">Picking a pickup (blog post)</a>:
            In 2019, I built a guitar. This is a conversational style blog post on selecting a
            pickup for it.
          </li>
          <li class="list--item">
            <a class="list-link" href="https://www.heyheatheritsmeagain.com/blog/nice-robot"
            target="_blank">A nice robot (blog post)</a>:
            Another conversational style blog post on building a twitter bot.
          </li>
        </ul>
      </div>
    </div>
{%- endblock %}
