<!-- portfolio.njk -->
{% extends "layout.njk" %}
{% block content %}
    <div id="main">
      <h1>writing samples</h1>
      <div class="projects__item">
        <ul class="list">
          <li class="list--item">
            <a class="list-link" href="https://www.heyheatheritsmeagain.com/blog/pick-a-pickup"
            target="_blank">Picking a pickup (blog post)</a>:
            In 2019, I built a guitar. This is a conversational style blog post on selecting a
            pickup for it.
          </li>
          <li class="list--item">
            <a class="list-link" href="https://www.heyheatheritsmeagain.com/blog/nice-robot"
            target="_blank">A nice robot (blog post)</a>:
            Another conversational style blog post on building a twitter bot.
          </li>
        </ul>
      </div>
    </div>
{%- endblock %}
