<!-- portfolio.njk -->
{% extends "layout.njk" %}
{% block content %}
    <div id="main">
      <h1>writing samples</h1>
      <div class="projects">
        <div class="projects__item">
          <a class="projects__sample-title" href="https://www.heyheatheritsmeagain.com/blog/building-speakers"
          target="_blank">Building speakers</a>
          <p>I built a pair of speakers. Here's a blog post about the process.</p>
        </div>
        <div class="projects__item">
          <a class="projects__sample-title" href="https://www.heyheatheritsmeagain.com/blog/pick-a-pickup"
          target="_blank">Picking a pickup (blog post)</a>
          <p>In 2019, I built a guitar. This is a conversational style blog post on selecting a
          pickup for it.</p>
        </div>
        <div class="projects__item">
          <a class="projects__sample-title" href="https://www.heyheatheritsmeagain.com/blog/nice-robot"
          target="_blank">A nice robot (blog post)</a>
          <p>Another conversational style blog post on building a twitter bot.</p>
        </div>
      </div>
    </div>
{%- endblock %}
